.bodyHolder{
    display:flex;
    justify-content:center;
    margin-top:5.75rem;
}

.bodyInfo{
    display:flex;
    flex-direction:column;
}
.header{ /*Main user information*/
    display:grid;
    grid-template-columns:9.35rem 1fr;
    align-content:center;
}
.profilePicture{
    background-color:hsl(var(--light));
}
.profile_pic_holder{
    border-radius:50%;
    padding:0;
    margin:0;
    width:125px;
    height:125px;
}

button{
    width:fit-content;
}

.userText{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    gap:1rem;
}
.userText * {
    padding:0;margin:0;
}

.followHolder{
    display:flex;
    gap:2rem;
}

.postHolder{
    margin-top:4rem;
    overflow-y:auto;
}

/*Rec Holder*/
.recommendedHolder{
    position:absolute;
    right:1.75rem;
    top:15.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.recommendedHolder h3{font-size:2.5rem;}

.userMapped{
    width:18.125rem;height:4.5rem;
    border:1px solid hsl(var(--black-10));
    border-radius:5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding: 0 1rem;
}
.userMappedInfo{display:flex; align-items:center;gap:1rem;}
.userMappedPFP{
    border:none;
    border-radius:50%;
    width:45px;height:45px;
}
.userMappedPFP img{
    width:45px;height:45px;
    border-radius:50%;
}
/**/

.detailsHolder{
    color:hsl(var(--black-75))
}

.editButton{
    position:absolute;
    right:6.875rem;
    top:8rem;
    border:1px solid hsl(var(--black-10));
    width:11rem;
    height:3rem;
    border-radius:10px;
    font-weight:700;
    font-weight:600;
}

.logoutButton{ /*make it more noticeable?*/
    border:none;
    color:hsl(var(--black-75));
    position:absolute;
    bottom:.5rem;
    right:1.5rem;
}
.logoutButton:hover{
    color:hsl(var(--primary))
}
.logoutButton:active{
    color:hsl(var(--light))
}

/*Popup boxes*/
.editBack{
    display:flex;
    justify-content:center;
}
.editInfo div div input{
    width: fit-content;
    border-radius:5px;
    border:none;
    background:#fff;
    box-shadow: 0 43px 12px #00000000,
    0 27px 11px #00000001,
    0 15px 9px #00000005,
    0 7px 7px #00000009,
    0 2px 4px #00000010;
}

.editInfo{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.editInfo div{
    display:flex;
    gap: 0 1rem;
}

.editInfo div div{
    display:flex;
    flex-direction:column;
}

.imageInput{
    display:none;
}
.imageInputHolder{
    align-items:center;
    margin-top:2.5rem;
    border:none;
    border-radius:5px;
    background:hsl(var(--primary));
    color:hsl(var(--off-white));
    width:10rem;height:2.5rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
    position:relative;
    bottom:1.5rem;
    left:.5rem;
}

.imageLabel img{
    width:1.5rem;
}
