
:root{
    --primary: 130 ,14%, 49%;
    --light: 144,31%,75%;
    --off-white: 54,19%,97%;
    --black: 112,8%,8%;
    --black-75: 112,8%,8%,0.75;
    --black-50: 112,8%,8%,0.5;
    --black-30: 112,8%,8%,0.3;
    --black-10: 112,8%,8%,0.1;
}

body{
    margin:0;
    padding:0;
    color:hsl(var(--black));
    background-color:hsl(var(--off-white));
}

.beautiful-shadow-1{
    box-shadow: 0 43px 12px #00000000,
    0 27px 11px #00000001,
    0 15px 9px #00000005,
    0 7px 7px #00000009,
    0 2px 4px #00000010;
}

button{
    font: inherit;
    color:inherit;
    background:transparent;
    border:1px solid black;
    border-radius: 5px;
}

.content{
    display:grid;
    grid-template-columns: 6.75rem 1fr;
}

.dialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}
.editBoard {
  width: 25rem; 
  border-radius: 8px;
  padding: 20px;
  background-color: hsl(var(--off-white));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.editBoard button{
    width:6rem;
    background-color:hsl(var(--primary));
    color:hsl(var(--off-white));
    font-weight:600;
    font-size:1.25rem;
    border:2px solid hsl(var(--black-10))
}
