.homeBody{
    display: flex;
    flex-direction:row;
    justify-content:center;
}

/*-----------------------*/
/*-----Post styling----*/
/*-----------------------*/

.postOption{
    background:transparent;
    border:none;
    font-weight:700;
}

.likesImage{
    width:2.15rem;
}

.likesImageButton{
    background:transparent;
    border:none;
}

.postLikes{
    display:flex;
    flex-direction:row;
}

/*-----------------------*/
/*-----NewUsers Style----*/
/*-----------------------*/

.newUsers{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.newUsersTitle{
    border-bottom: 1px solid hsl(var(--black));
    width:fit-content;
}

.userMapped{
    display:flex;
    flex-direction:row;
    gap: 2.5rem;
}

.userMapped button{
    border:none;
    background:transparent;
    color: hsla(var(--black-75));
    text-decoration:underline;
    text-decoration-thickness:2px;
    text-decoration-color: hsl(var(--primary))
}
