
.navbar{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
    width:5.5rem;
    border-right: 2px solid black;
    align-items:center;
}

.navElement{
    text-decoration:none;
    color: black;
}
.navElement:visited,{
    color:black;
}

.navElement:hover{
    color: blue;
}

.pageLinks{
    display:flex;
    flex-direction:column;
    height:16.25rem;
    width:fit-content;
    justify-content:space-between;
}

img{
    width:2.55rem;
}

.logo{
    margin-top:1.75rem;
}

.profile{
    margin-bottom: 1.75rem;
}
