.content{
    display:grid;
    grid-template-columns: 6.75rem 23.75rem 1fr;
}

.userMessagesHolder{
    border-right: 1px solid hsl(var(--black-30));
}

/*Message display area*/

.noMessageOpened{
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.noMessageOpened h4{
    text-align:center;
}

.noMessageOpened button{
    color: hsl(var(--off-white));
    background-color: hsl(var(--primary));
    border:none;
    border-radius:10px;
    height:3.25rem;
    width:16.25rem;
}
.noMessageOpened button:hover{
    color: hsl(var(--primary));
    background-color:#fff;
}

/*Message subInfo*/

.messagePreviewHolder{
    display:grid;
    grid-template-columns:3.5rem 1fr 4rem ;
    align-items:center;
    font-size:1rem;
}
.imagePlaceholder{
    border-radius:50px;
    width:40px;
    height:40px;
    background-color: hsl(var(--black-30))
}

.previewTextDetails{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
}

.previewTextDetails p{
    color: hsl(var(--black-50));
    font-size:14;
}

.previewTextDetails *{
    padding:0;
    margin:0;
}

.messagePreviewTimestamp{
    color: hsl(var(--black-50));
    width:4rem;
}

/**/
.messageInput{
    display:flex;
    gap:1.85rem;
    margin-top:2rem;
}

.messageInput input{
    width:46.875rem;
    background: #fff;
    border: none;
    border-radius:15px;
    height:2.5rem;
}

.messageInput input:focus,.messageInput input:active{
    outline: 2px solid hsl(var(--light))
}

.messageInput button{
    background: #fff;
    border:none;
    border-radius:15px;
    width: 3.5rem;
    height:2.5rem;
    align-items:center;
}
.messageInput button:hover{
    border:2px solid hsl(var(--black-10))
}


.messageInput button img{
    width:1.9rem;
}
/*Message body*/

.messageBody{
    display:flex;
    flex-direction: column;
    height:90vh;
    width:100%;
    padding-bottom:1.5rem;
    align-items: center;
    overflow-y: auto;
}

.messageParts{
    width:50rem;
    margin-top:2.5rem;
    overflow-y: auto;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    border-radius: 10px;
    gap: 2rem;
    padding: 2.5rem;
    -ms-overflow-style:none;
    scrollbar-width:none;
    height:100%;
}
.messageParts::-webkit-scrollbar{
    display:none
}
.authorPfp{
    border-radius:50%;
}

.messageContent{
    display:flex;
    align-items:flex-start;
}

.messagesMapped{
    display:flex;
    flex-direction:column;
    align-content:flex-start;
    align-items:flex-start;
    padding:0;margin:0;
}
.isCurrentUser{
    align-items: flex-end;
    align-text:flex-end;
}
.isCurrentUser .messageContent{align-items:flex-end}

.messagesMapped *{
    padding: 0;
    margin:0;
    height:fit-content; /*key; line here is what makes the issue with message size*/
}

.messageAuthor{
    color:hsl(var(--black-50))
}


.messageTime{
    font-size:16px;
    width:10rem;
    color:hsl(var(--black-50))
}

.deleteButton{
    margin-top:2.5rem;
    border:none;
    color:hsl(var(--primary))
}
.deleteButton:hover{
    color:hsl(var(--light))
}

.pfp{
    border-radius:50%;
    width:2.5rem;
    height:2.5rem;
}
