.bodyInfo{
    display:flex;
    justify-content:center;
}
.insideBodyInfo{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.popupButtons{
    width:8rem;
    height:2rem;
    background:hsl(var(--primary));
    color:hsl(var(--off-white));
    border:none;
}
.popupButtons:hover{
    background:#fff;
    color:hsl(var(--primary))
}
.popupButtonHolder{
    display:flex;
    justify-content:space-between;
}

/*post details*/
.postData{
    display:flex;
    flex-direction:column;
    text-align:start;
    width:40rem;
}
.postData *{margin:0;padding:0}
.postAuthor{
    color: hsl(var(--black-75));
}
.postImage{
    border-radius:5px;
    height:25rem;
    width:40rem;
    background:#fff;
}
.postMessage{
    
}
.timestamp{
    color:hsl(var(--black-50))
}

.seperator{
    width:27rem;
    color:hsl(var(--black-10));
    margin-top:3.5rem;
}

.subDetails{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.form{
    display:flex;
    flex-direction:column;
}
.textarea{
    width: 100%;
    height: 7rem;
    resize:none;
    border-radius:5px;
    border:none;
    margin-bottom:1rem;
    border:2px solid hsl(var(--black-10));
}

.likesimagebutton{
    border:none;
}

.likesImage{
    width:2.15rem;
    height:2.15rem;
    transition:transfrom 0.3s ease;
}
.likesImage.pulse{
    transform:scale(1.2);
}

.likeHolder{
    display:flex;
}
.postButtons{
    display:flex;
    align-content:center;
    justify-content:space-between;
}
.postEdit{
    border:none;
    color:hsl(var(--primary))
}
.postEdit:hover{
    color:hsl(var(--black-75))
}
.postDelete{
    border:none;
}
.postDelete img{width:1.75rem;transition:scale 0.3s ease-in-out}
.postDelete img:hover{scale:1.25;}

/*Comment section*/

.commentTitle{
    font-size:2rem;
}

.sendButton{
    background: #fff;
    border:none;
    border-radius:15px;
    width: 3.5rem;
    height:2.5rem;
    align-items:center;
}
.sendButton:hover{
    border:2px solid hsl(var(--black-10))
}

.sendButton img{
    width:1.9rem;
}

.commentInput{
    background: #fff;
    width:36rem;
    height:2.5rem;
    border-radius:10px;
    border:none;
}
.commentForm{
    display:flex;
    align-content:center;
    gap:.5rem;
}

.commentHolder{
    display:flex;
    flex-direction:column;
}
.commentHolder *{margin:0;padding:0;}
.commentTime{
    color:hsl(var(--black-50))
}
.commentMeta{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.commentDelete{
    border:none;
}
.commentDelete img{
    width:1.75rem;
    transition: width 0.5s ease-in-out;
}
.commentDelete img:hover{
    width:2rem;
}
.commentBody{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/*popup*/
.imageInput{
    display:none;
}
.imageInputHolder{
    margin-top:2.5rem;
    border:none;
    border-radius:5px;
    background:hsl(var(--primary));
    color:hsl(var(--off-white));
    width:12.125rem;height:2.5rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
    left:6.5rem;
    bottom:1.5rem;
}

.imageLabel img{
    width:1.5rem;
}
